<h1 style="padding-left:80px;">Bem-vindo</h1>
<link type="text/css" rel="stylesheet" media="all" href="https://dev.twitter.com/sites/default/files/css/css_adde6fc2f112bcb6cde6523189e9955d.css" />

<br />
<table class="views-table cols-2" >
      <caption style="padding-left:80px;"><a title="Timelines" id="109" name="109"></a><strong>Timelines</strong><p> Timelines are collections of Tweets, ordered with the most recent first. </p></caption>
    <thead>
    <tr>
              <th class="views-field views-field-title" style="padding-left:80px;">
          Resource        </th>
              <th class="views-field views-field-body">
          Description        </th>
          </tr>
  </thead>
  <tbody>
          <tr class="odd views-row-first" >
                  <td class="views-field views-field-title" style="padding-left:80px;">
            <a href="/docs/api/1.1/get/statuses/mentions_timeline" >GET statuses/mentions_timeline</a>          </td>
                  <td class="views-field views-field-body" style="padding-right:80px;">
            Returns the 20 most recent mentions (tweets containing a users's @screen_name) for the authenticating user.
The timeline returned is the equivalent of the one seen when you view your mentions on twitter.com.
This method can only return up to 800 tweets.
See Working with Timelines for...          </td>
              </tr>
          <tr class="even">
                  <td class="views-field views-field-title" style="padding-left:80px;">
            <a href="/docs/api/1.1/get/statuses/user_timeline">GET statuses/user_timeline</a>          </td>
                  <td class="views-field views-field-body" style="padding-right:80px;">
            Returns a collection of the most recent Tweets posted by the user indicated by the screen_name or user_id parameters.
User timelines belonging to protected users may only be requested when the authenticated user either "owns" the timeline or is an approved follower of the owner.
The timeline...          </td>
              </tr>
			  </table>
 
<br />
